body{
    background-color:black;
}

.title{
    color: blanchedalmond;
    align-items:flex-start;
    font-family:'Times New Roman', Times, serif;
    font-size: 9em;
}

h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 1em;
    color: wheat;
}



.row1{
    display: flex;
    align-items:center;
    position: relative;
    top: 70%;
    left: 10%;
}

.bigPhoto{
    width: 500px;
    height: 330px;
    display: flex;
    flex-direction: row;    
    align-items: flex-start;
    align-self: center;
    position:relative;
    left:10%;
    
    justify-content: center;

    
    background-size: 100%;

    flex-wrap: wrap; 
    transition: all 1.3s ease;
}

.row2{
    display: flex;
    /* align-items:center; */
    position: relative;
    top: 80%;
    left:10%;
}



.row3{
    display: flex;
    align-items:center;
    position: relative;
    top: 90%;
    left:10%;
}

.smallPhoto{
    
    width: 60px;
    height: 60px;
    display: flex;  
    flex-direction: row;    
    align-items: flex-start;
    align-self: center;
    position:relative;
    
    justify-content: center;
    
   
    background-size: 100%;

    flex-wrap: wrap; 
    transition: all 1.3s ease;
    opacity: 0.5;
}


.space{
    width: 20px;
    height:100px;
    display:flex;
    flex-direction: row;

}

.word1{
    font-family:'Times New Roman', Times, serif;
    font-size: 3em;
    color: rgb(226, 207, 145);
}

.word2{
    font-family:'Times New Roman', Times, serif;
    font-size: 3em;
    color: rgb(222, 229, 245);
}

.word3{
    font-family:'Times New Roman', Times, serif;
    font-size: 3em;
    color: rgb(243, 191, 191);
}

.word1:hover{
    animation: shake 2s infinite;
}

.word2:hover{
    animation: shake 2s infinite;
}

.word3:hover{
    animation: shake 2s infinite;
}

@keyframes shake{
    20% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(-5deg);
    }

    75% {
        transform: rotate(5deg);
    }

    80% {
        transform: rotate(0deg);
    }
}

.smallPhoto:hover{
    transform: scale(1.1);
    box-shadow :0 0 2px 2px  rgb(230, 227, 215) ;
    opacity: 1;
}




